.reslut_component {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #171616;
}

.logo_photo {
    width: 41%;
    padding: 20px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    display: inline;
}

.final_text {
  text-shadow: 2px 2px 4px #000000;
    margin: auto;
    width: 45%;
    padding: 20px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    display: inline;
    margin-right: 160px;
}

.final_text p {
    margin: auto;
    width: 70%;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    padding-bottom: 40px;
    color: white;
    margin-left: -10px !important;
}


.final_text button 
{
    color: black;
    border-radius: 40px;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    outline:none;
}

.next_btn
{
    background-color: #89E163;
    padding: 20px;
    margin: 10px;
    width: calc(50% - 20px);
}

.back_btn
{
    background-color: #89E163;
    margin: 10px;
    padding: 20px;
    width: calc(50% - 20px);
}

button:hover {
    background-color: white !important;
    color: black;
  }




.allinuj_logo_absolute {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 160px;
    height: 192px;
    z-index: 0;
}

@media (max-width: 1200px) {

    .reslut_component {
      width: 100%;
      height: 100%;
      display: block;
      background-color: #171616;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .logo_photo {
      background-image: none !important;
      display: none !important;
  }

  .final_text {
    text-shadow: 2px 2px 4px #000000;
      width: 45%;
      padding: 20px;
      justify-content: center;
      align-items: center;
      display: inline;
      margin-right: 0px !important;

  }

  .final_text span {
   
      margin: 20px;
  }

  .final_text p {
      width: 70%;
      font-size: 2.5em;
      text-align: center;
      font-weight: bold;
      padding-bottom: 40px;
      color: white;
      margin: auto !important;
  }


  .final_text button 
  {
      color: black;
      border-radius: 40px;
      font-size: 1.5em;
      font-weight: bold;
      border: none;
      outline:none;
  }

  .next_btn
  {
      background-color: #89E163;
      padding: 20px;
      margin: 10px;
      width: calc(50% - 20px);
  }

  .back_btn
  {
      background-color: #89E163;
      margin: 10px;
      padding: 20px;
      width: calc(50% - 20px);
  }

  button:hover {
      background-color: white !important;
      color: black;
    }
  
    .allinuj_logo_absolute {
      display: none;
      width: 0px;
      height: 0px;
  }
}


$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

body {
  margin:0;
  padding:0; 
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}