
body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.card {
    background-color: rgba(234, 234, 234, 0.8) !important;
}

button{
    margin: 0px 10px 0px 10px !important;
}

h1 {
    padding: 15px !important;
}

h4{
    padding: 15px !important;
}


.btn-info:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #17a2b8 !important;
    border-color:#17a2b8 !important;
}

.btn-info:hover {
    background-color: #138496 !important;
    border-color: #117a8b !important;
}

.btn-info:active {
    background-color: #17a2b8 !important;
}

.btn-dark:focus {
    outline: none !important;
    box-shadow: none !important;
}
