html {
  display: block;
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #171616;
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.green{
  color: #89E163;
}

button:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}


@media (max-width: 1200px) {
  body {
    width: 100%;
    background-color: #171616;
    overflow: auto;
    min-width: 360px;
  }
  
}